[submodule "extern/7zip-bin"]
	path = extern/7zip-bin
	url = https://github.com/shortydoggg/7zip-bin.git
[submodule "docs/api"]
	path = docs/api
	url = https://github.com/shortydoggg/launcher_ApiDocs.git
